# Node & Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
dist-ssr/
*.local

# Cache & Build Info
.vite/
*.tsbuildinfo
.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
